/* @media (max-width: 1024px) { 

     .textabout {
        justify-content: center;
        display: flex;
        width: 850px;
        gap: 5em;
     }
    
     .abouts {
        display: flex;
        border: 2px solid whitesmoke;
        width: 850px;
        padding: 40px;
        border-radius: 25px;
     }
}

 */
 @media screen and (max-width: 768px) {

    .homes {
        display: grid;
        justify-content: center;
        gap: 10em;
        top: 250px;
     }

    .textabout {
        justify-content: center;
        display: grid;
        width: 600px;
        gap: 5em;
     }

     .abouts {
        display: flex;
        border: 2px solid whitesmoke;
        width: 500px;
        padding: 40px;
        border-radius: 25px;
        text-align: center;
     }
     
     .contact{
        display: grid;
        justify-content: center;
        gap: 10em;
        top: 1800px;
        margin-bottom: 100px;
    }

}


@media screen and (max-width: 426px) {
   .homes {
      display: grid;
      left: 45px;
      justify-content: center;
      gap: 10em;
      top: 250px;
   }

   .abouts {
      display: flex;
      border: 2px solid whitesmoke;
      width: 300px;
      padding: 40px;
      border-radius: 25px;
      text-align: center;
      justify-content: center;
      left: 28px;
   }

   .judulabout {
      justify-content: center;
      display: flex;
      top: 800px;
      left: 28px;
   }

   .contact{
      display: grid;
      justify-content: center;
      gap: 10em;
      top: 1800px;
      margin-bottom: 100px;
      left: 28px;
  }

  .judulcontact {
   justify-content: center;
   display: flex;
   top: 1600px;
   left: 28px;
}
}

@media screen and (max-width: 370px) {
   .homes {
      display: grid;
      left: 30px;
      justify-content: center;
      gap: 10em;
      top: 250px;
   }

   .abouts {
      display: flex;
      border: 2px solid whitesmoke;
      width: 220px;
      padding: 50px;
      border-radius: 25px;
      text-align: center;
      justify-content: center;
      left: 18px;
   }

   .judulabout {
      justify-content: center;
      display: flex;
      top: 800px;
      left: 18px;
   }



}
   
