@media screen and (max-width: 768px) {
  
   .home {
      display: grid;
      justify-content: center;
      gap: 12em;
      padding: 6rem 0;
      padding-bottom: 200px;
      width: 100%;
      padding-top: 280px;
  }
   
   .textabout {
      position: relative;
      margin-top: 80px;
      display: grid;
      align-items: center;
      gap: 5em;
      width: 300px;
      border: 3px solid white;
      padding: 40px;
      border-radius: 25px;
      left: 200px;
      font-size: 20px;
  }

  .bungkuscontact {
   display: grid;
   justify-content: center;
   gap: 1em;
   margin-top: 70px;
}
}

@media screen and (max-width: 426px) {
   
   .home {
      display: grid;
      justify-content: center;
      gap: 12em;
      padding: 6rem 0;
      padding-bottom: 200px;
      width: 100%;
      padding-top: 280px;
  }
  
  .home img {
      width: 250px;
      border-radius: 100%;
      position: relative;
      left: 45px;
      bottom: 30px;
  }
  
   .textabout {
      position: relative;
      margin-top: 80px;
      display: grid;
      align-items: center;
      gap: 5em;
      width: 250px;
      border: 3px solid white;
      padding: 45px;
      border-radius: 25px;
      left: 45px;
      font-size: 15px;
  }
}

@media screen and (max-width: 376px) {
   
   .logo {
      padding: 18px;
      font-weight: 600;
      font-size: 30px;
      color: whitesmoke;
   }

   nav ul {
      display: flex;
      gap: 2em;
      padding: 30px;
      list-style-type: none;
      
  }

   .textabout {
      position: relative;
      margin-top: 80px;
      display: grid;
      align-items: center;
      gap: 5em;
      width: 200px;
      border: 3px solid white;
      padding: 45px;
      border-radius: 25px;
      left: 43px;
      font-size: 15px;
  }

  .home img {
   width: 230px;
   border-radius: 100%;
   position: relative;
   left: 25px;
   bottom: 30px;
}

  .texthome h1 {
   font-size: 40px;
   color: aliceblue;
}

  .about img {
   width: 200px;
   border-radius: 15px;
}


.bungkuscontact p {
   border: solid whitesmoke;
   background-color: aliceblue;
   padding: 5px;
   border-radius: 15px;
   text-align: center;
   margin-top: 25px;
}

.bungkuscontact p a {
   text-decoration: none;
   font-weight: 600;
   color: #232D3F;
   font-size: 15px;
}

.bungkuscontact img{
   width: 100px;
   position: relative;
   left: 10px;
}

.contact1 {
   border: solid 2px whitesmoke;
   padding: 40px;
   border-radius: 25px;
}

.contact2 {
   border: solid 2px whitesmoke;
   padding: 40px;
   border-radius: 25px;
}

.contact3 {
   border: solid 2px whitesmoke;
   padding: 40px;
   border-radius: 25px;
}

}

@media screen and (max-width: 321px) {
   .textabout {
      position: relative;
      margin-top: 80px;
      display: grid;
      align-items: center;
      gap: 5em;
      width: 180px;
      border: 3px solid white;
      padding: 45px;
      border-radius: 25px;
      left: 25px;
      font-size: 15px;
  }

  .logo {
   padding: 15px;
   font-weight: 600;
   font-size: 25px;
   color: whitesmoke;
}

nav ul {
   display: flex;
   gap: 1em;
   padding: 30px;
   list-style-type: none;
   
}
}
 