* {
    margin: 0;
    padding: 0;
    position: relative;
}

html{
    scroll-behavior: smooth;
    position: relative;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #232D3F;
    max-width:1920px;
    margin:0 auto;
	overflow-x:hidden;
    position: relative;
}


header {
    background-color: #232D3F;
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow:  0 7px 15px 0 whitesmoke;
    z-index: 1;
    position: fixed;
}

nav ul {
    display: flex;
    gap: 3em;
    padding: 30px;
    list-style-type: none;
}

nav ul li a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: 600;
}

.logo {
    padding: 25px;
    font-weight: 600;
    font-size: 30px;
    color: whitesmoke;
}

nav ul li a:hover{
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}

.logo:hover{
    letter-spacing: 2px;
    transition: all 0.3s ease-in-out;
}
img {
    width: 300px;
}

footer {
    position: relative;
    top: 200px;
    left: 20px;
}

main {
    border: 2px solid whitesmoke;
    border-radius: 30px;
    padding: 30px;
    justify-content: space-between;
    display: flex;
    width: 1000px;
    align-items: center;
    position: relative;
    top: 1024px;
    left: 200px;
    gap: 8em;
    transition: 0.3s;
}

article {
    color: whitesmoke;
    text-align: center;
    padding: 20px;
    font-weight: 500;
}

main:hover {
    padding: 35px;
    transition: 0.3s all ease-in-out;
}

 /* .perkenalan { 
    color: #F1EFEF;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    display: flex;
    font-size: 65px;
    margin-top: 100px;
 }

 button {
    padding: 20px;
    font-size: 15px;
    border-radius: 20px;
    width: 120px;
    height: 70px;
    position: relative;
    top: 280px;
    right: 490px;
 }

 button a {
    text-decoration: none;
    color: #232D3F;
    font-weight: 600;
 }

 .opay {
    border-radius: 100%;
    width: 250px;
    position: relative;
    top: 40px;
    border:  whitesmoke solid   ;
    box-shadow: 0 0 20px whitesmoke;
 }

 .welcome-hero{
    display: flex;
    justify-content:center;
    gap: 2em;
    margin-top: 100px;
 }

 .welcome-hero:before{
    position:absolute;
    content: " ";
    top:0;
    left:0;
    width:100%;
    height:100%;
}

.judulnyaabout {
    color: #F1EFEF;
    display: flex;
    left: 600px;
    top: 1000px;
    font-size:18px;
    color: #F1EFEF;
    text-transform: initial;
    line-height: 1.8;
}
.fContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    top: 700px;
    border: 2px solid whitesmoke;
    width: 1000px;
    height: 300px;
    border-radius: 20px;
    padding: 30px;
    left: 95px;
    color: #F1EFEF;
}
 */

 .homes {
    display: flex;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    gap: 10em;
    top: 250px;
 }

 .judulnya {
    top: 70px;
 }

 img {
    border-radius: 100%;
 }
 h1 {
    font-size: 50px;
    color: whitesmoke;
 }

 p {
    color: white;
    font-size: 20px;
    padding: auto;
 }

 p a {
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 20px;
    top: 30px;
 }

 .judulabout {
    justify-content: center;
    display: flex;
    top: 800px;
 }

 .abouts {
    display: flex;
    border: 2px solid whitesmoke;
    width: 1000px;
    padding: 40px;
    border-radius: 25px;
 }

 .textabout {
    justify-content: center;
    display: flex;
    width: 1000px;
    gap: 10em;
 }

 .kebawahin {
    top: 950px;
 }

 .message label input {
    padding: 30px;
    
 }

.inputan {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.inputan label  {
    border: none;
    padding: 5px;
    
}

.inputan label input {
    padding: 5px;
    width: 300px;
    border-radius: 10px;
    
}
.kirim{
    padding: 5px;
    width: 100px;
    border-radius: 25px;
    margin-top: 10px;
    left: 7px;
}

.kirim button {
    text-decoration: none;
}

.contact{
    display: flex;
    justify-content: center;
    gap: 10em;
    top: 1800px;
    margin-bottom: 100px;
}

.juds {
    font-size: 24px;
    color: whitesmoke;
    font-weight: 600;
}

.contact-add-info { margin: 42px 0 52px;
    bottom: 30px;
}
.single-contact-add-info h3 {
    color:  #636a82;
    font-weight:  500;
}
.single-contact-add-info p {
    color:  #999fb3;
    font-size:  16px;
    margin-top:  18px;
}
.single-contact-add-info {
    margin-bottom:  26px;
}

.judulcontact {
    justify-content: center;
    display: flex;
    top: 1600px;
 }

.kirim button  {
    padding: 8px;
    width: 100px;
    border-radius: 15px;
    right: 8px;
}

.kirim button a{
    text-decoration: none;
    font-weight: 600;
    color: #232D3F;
}